.acesso-container {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
  color: #283c19;
  text-align: center;
}

.acesso-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.acesso-container p {
  font-size: 1.2rem;
  max-width: 600px;
}

.agendamento-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.btn-agendar {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  margin-top: 10px;
}

.btn-agendar:hover {
  background-color: #45a049;
}
